* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cocogoose;
  src: url(./assets/fonts/cocogoose/Cocogoose\ Pro\ Thin-trial.ttf);
}

html {
  height: 100vh;
  background: radial-gradient(#1b2735 0%, #090a0f 100%);
}

body {
  color: #fff;
  font-weight: 400;
  position: relative;
  font-family: Cocogoose;
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.background-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1287px 70px #fff, 968px 1851px #fff, 966px 1170px #fff,
    571px 1053px #fff, 986px 725px #fff, 1233px 515px #fff, 1239px 1058px #fff,
    667px 1327px #fff, 531px 797px #fff, 1654px 298px #fff, 769px 1769px #fff,
    524px 1923px #fff, 301px 1433px #fff, 1060px 1949px #fff, 1549px 69px #fff,
    685px 713px #fff, 616px 1953px #fff, 772px 1114px #fff, 1447px 1536px #fff,
    29px 1525px #fff, 1179px 230px #fff, 158px 544px #fff, 298px 390px #fff,
    184px 492px #fff, 1930px 935px #fff, 1043px 151px #fff, 271px 1644px #fff,
    1206px 1103px #fff, 750px 1689px #fff, 1492px 1079px #fff, 1278px 144px #fff,
    1968px 1374px #fff, 1251px 227px #fff, 875px 714px #fff, 1469px 923px #fff,
    1869px 518px #fff, 865px 1023px #fff, 1808px 1818px #fff, 277px 512px #fff,
    209px 1884px #fff, 154px 692px #fff, 1570px 1911px #fff, 1486px 1639px #fff,
    789px 1392px #fff, 118px 187px #fff, 1028px 606px #fff, 1424px 1640px #fff,
    1922px 1684px #fff, 1821px 104px #fff, 1312px 817px #fff, 1477px 80px #fff,
    847px 134px #fff, 1971px 1345px #fff, 174px 270px #fff, 392px 773px #fff,
    672px 663px #fff, 959px 1112px #fff, 879px 830px #fff, 62px 1178px #fff,
    1841px 190px #fff, 788px 1948px #fff, 1361px 231px #fff, 21px 1693px #fff,
    1749px 1098px #fff, 1949px 1550px #fff, 1889px 1036px #fff,
    655px 1791px #fff, 1361px 1415px #fff, 319px 284px #fff, 889px 1284px #fff,
    983px 1187px #fff, 42px 1581px #fff, 1621px 502px #fff, 1357px 466px #fff,
    1938px 619px #fff, 1621px 1434px #fff, 165px 1898px #fff, 1259px 664px #fff,
    1565px 1944px #fff, 1769px 529px #fff, 1592px 847px #fff, 1207px 991px #fff,
    134px 948px #fff, 114px 920px #fff, 390px 1341px #fff, 1168px 1555px #fff,
    1841px 1322px #fff, 20px 766px #fff, 1752px 1000px #fff, 1801px 797px #fff,
    308px 1548px #fff, 254px 661px #fff, 1855px 1397px #fff, 943px 80px #fff,
    1718px 898px #fff, 1519px 1640px #fff, 968px 660px #fff, 1119px 1945px #fff,
    1884px 352px #fff, 1994px 268px #fff, 691px 499px #fff, 833px 1879px #fff,
    46px 1078px #fff, 891px 1013px #fff, 1700px 882px #fff, 431px 1186px #fff,
    1805px 675px #fff, 1506px 1096px #fff, 93px 104px #fff, 1685px 752px #fff,
    1147px 1807px #fff, 543px 962px #fff, 693px 598px #fff, 1386px 995px #fff,
    717px 1689px #fff, 1236px 889px #fff, 809px 1519px #fff, 1066px 342px #fff,
    315px 1184px #fff, 470px 42px #fff, 1865px 170px #fff, 1054px 1118px #fff,
    1364px 483px #fff, 523px 175px #fff, 1952px 1702px #fff, 460px 218px #fff,
    127px 1402px #fff, 1415px 590px #fff, 1484px 1650px #fff, 796px 886px #fff,
    936px 896px #fff, 685px 1733px #fff, 463px 877px #fff, 982px 1797px #fff,
    1657px 1878px #fff, 1929px 236px #fff, 868px 1934px #fff, 1613px 649px #fff,
    1709px 843px #fff, 1194px 466px #fff, 1712px 1227px #fff, 1620px 1513px #fff,
    918px 1471px #fff, 965px 385px #fff, 553px 225px #fff, 1456px 394px #fff,
    1912px 635px #fff, 1749px 498px #fff, 271px 1667px #fff, 742px 1358px #fff,
    1421px 1206px #fff, 1382px 1483px #fff, 1781px 581px #fff, 381px 1709px #fff,
    1587px 1183px #fff, 1266px 600px #fff, 1679px 1343px #fff, 153px 1514px #fff,
    645px 1260px #fff, 1544px 448px #fff, 1334px 1854px #fff, 1241px 997px #fff,
    1524px 329px #fff, 721px 917px #fff, 533px 1433px #fff, 469px 1598px #fff,
    1336px 241px #fff, 874px 1357px #fff, 1049px 550px #fff, 8px 461px #fff,
    383px 480px #fff, 1468px 267px #fff, 913px 1492px #fff, 1353px 1603px #fff,
    361px 720px #fff, 1442px 1064px #fff, 1763px 1342px #fff, 1878px 1432px #fff,
    85px 723px #fff, 84px 33px #fff, 1598px 1431px #fff, 261px 597px #fff,
    763px 1091px #fff, 1331px 1856px #fff, 1149px 419px #fff, 763px 928px #fff,
    928px 657px #fff, 927px 1709px #fff, 730px 1210px #fff, 867px 839px #fff,
    1506px 55px #fff, 554px 1844px #fff, 1243px 910px #fff, 1238px 971px #fff,
    442px 1787px #fff, 1599px 866px #fff, 1987px 899px #fff, 899px 169px #fff,
    1982px 1578px #fff, 233px 1414px #fff, 1915px 441px #fff, 661px 697px #fff,
    433px 1450px #fff, 735px 133px #fff, 842px 242px #fff, 1532px 1282px #fff,
    1947px 1068px #fff, 1985px 278px #fff, 47px 802px #fff, 573px 939px #fff,
    1161px 887px #fff, 1885px 1139px #fff, 673px 1001px #fff, 627px 781px #fff,
    476px 119px #fff, 1788px 1088px #fff, 160px 174px #fff, 1435px 849px #fff,
    1960px 1854px #fff, 1968px 1251px #fff, 636px 936px #fff, 203px 702px #fff,
    797px 11px #fff, 1768px 420px #fff, 856px 1297px #fff, 440px 287px #fff,
    783px 842px #fff, 1683px 1423px #fff, 63px 336px #fff, 1105px 181px #fff,
    697px 228px #fff, 1150px 1768px #fff, 1179px 877px #fff, 454px 829px #fff,
    1302px 358px #fff, 1777px 1513px #fff, 587px 1607px #fff, 1184px 1858px #fff,
    855px 461px #fff, 1436px 973px #fff, 1845px 1430px #fff, 1997px 1259px #fff,
    620px 1350px #fff, 138px 1165px #fff, 425px 818px #fff, 1843px 751px #fff,
    450px 1215px #fff, 1445px 1970px #fff, 404px 648px #fff, 1988px 1113px #fff,
    1919px 1638px #fff, 1105px 57px #fff, 947px 763px #fff, 240px 1415px #fff,
    1133px 139px #fff, 497px 1010px #fff, 64px 1514px #fff, 1859px 1424px #fff,
    818px 214px #fff, 1332px 1662px #fff, 1993px 1027px #fff, 624px 498px #fff,
    258px 1582px #fff, 1904px 908px #fff, 1842px 922px #fff, 1151px 429px #fff,
    1618px 655px #fff, 1115px 1779px #fff, 254px 439px #fff, 452px 1064px #fff,
    550px 906px #fff, 1606px 665px #fff, 240px 1383px #fff, 1749px 754px #fff,
    1072px 1608px #fff, 1791px 741px #fff, 1102px 1887px #fff, 290px 266px #fff,
    1863px 121px #fff, 500px 379px #fff, 1061px 1601px #fff, 1570px 324px #fff,
    1775px 1031px #fff, 1839px 1927px #fff, 1853px 1083px #fff,
    1188px 1216px #fff, 553px 1941px #fff, 1503px 898px #fff, 451px 1134px #fff,
    847px 1263px #fff, 999px 944px #fff, 1645px 1454px #fff, 121px 1512px #fff,
    246px 1237px #fff, 514px 665px #fff, 193px 231px #fff, 1555px 480px #fff,
    739px 138px #fff, 1960px 355px #fff, 636px 1333px #fff, 288px 819px #fff,
    1867px 1620px #fff, 1669px 435px #fff, 595px 322px #fff, 763px 879px #fff,
    105px 1428px #fff, 963px 1178px #fff, 1876px 891px #fff, 158px 764px #fff,
    1604px 1127px #fff, 351px 761px #fff, 1222px 1263px #fff, 732px 1443px #fff,
    1003px 441px #fff, 1683px 1870px #fff, 621px 884px #fff, 720px 966px #fff,
    1468px 1570px #fff, 1080px 1985px #fff, 1347px 764px #fff,
    1368px 1560px #fff, 1590px 1093px #fff, 1249px 1342px #fff, 217px 961px #fff,
    751px 1846px #fff, 1543px 443px #fff, 439px 1734px #fff, 76px 398px #fff,
    1633px 291px #fff, 1158px 363px #fff, 127px 1076px #fff, 1670px 643px #fff,
    1273px 1726px #fff, 1089px 1797px #fff, 818px 1229px #fff, 192px 907px #fff,
    1935px 699px #fff, 1140px 64px #fff, 492px 777px #fff, 1504px 1042px #fff,
    277px 1814px #fff, 947px 1941px #fff, 1212px 715px #fff, 846px 510px #fff,
    1628px 1188px #fff, 852px 1694px #fff, 1915px 179px #fff, 1322px 1531px #fff,
    436px 766px #fff, 1161px 213px #fff, 1241px 1916px #fff, 774px 1624px #fff,
    908px 1757px #fff, 1224px 874px #fff, 272px 789px #fff, 1123px 952px #fff,
    176px 1575px #fff, 1070px 880px #fff, 1784px 297px #fff, 1475px 1157px #fff,
    261px 656px #fff, 478px 454px #fff, 989px 1404px #fff, 1841px 883px #fff,
    1396px 1872px #fff, 1466px 1405px #fff, 373px 1918px #fff,
    1982px 1615px #fff, 1935px 1248px #fff, 510px 1032px #fff, 1547px 108px #fff,
    277px 336px #fff, 52px 1062px #fff, 326px 149px #fff, 858px 1913px #fff,
    1071px 1113px #fff, 1513px 1938px #fff, 46px 399px #fff, 173px 1335px #fff,
    1946px 1328px #fff, 642px 626px #fff, 1216px 1003px #fff, 844px 165px #fff,
    1550px 295px #fff, 1786px 170px #fff, 32px 375px #fff, 761px 387px #fff,
    1014px 1863px #fff, 1366px 649px #fff, 1528px 25px #fff, 242px 1615px #fff,
    831px 1172px #fff, 1066px 606px #fff, 249px 1701px #fff, 1346px 1699px #fff,
    682px 805px #fff, 291px 68px #fff, 1348px 1480px #fff, 796px 784px #fff,
    688px 1874px #fff, 473px 589px #fff, 200px 68px #fff, 1176px 102px #fff,
    695px 1833px #fff, 1016px 718px #fff, 1112px 387px #fff, 1239px 1169px #fff,
    428px 107px #fff, 1796px 1479px #fff, 1755px 709px #fff, 724px 445px #fff,
    105px 206px #fff, 597px 246px #fff, 27px 804px #fff, 1201px 1568px #fff,
    1864px 513px #fff, 1617px 1183px #fff, 776px 324px #fff, 1510px 1636px #fff,
    1542px 1384px #fff, 1277px 1470px #fff, 1137px 1988px #fff,
    1202px 1010px #fff, 1405px 339px #fff, 1481px 952px #fff, 518px 349px #fff,
    1360px 159px #fff, 1839px 926px #fff, 1646px 1866px #fff, 831px 775px #fff,
    1897px 1411px #fff, 1351px 1048px #fff, 646px 1805px #fff, 318px 1542px #fff,
    1494px 1268px #fff, 237px 1746px #fff, 586px 1825px #fff, 328px 1054px #fff,
    864px 1143px #fff, 1882px 1803px #fff, 192px 878px #fff, 69px 1807px #fff,
    743px 1716px #fff, 778px 453px #fff, 1726px 524px #fff, 1625px 309px #fff,
    743px 955px #fff, 548px 362px #fff, 1009px 603px #fff, 436px 1859px #fff,
    301px 152px #fff, 1180px 431px #fff, 1540px 715px #fff, 136px 912px #fff,
    1271px 96px #fff, 1084px 1078px #fff, 183px 1918px #fff, 136px 411px #fff,
    551px 1225px #fff, 1548px 1509px #fff, 375px 1058px #fff, 481px 1347px #fff,
    1815px 1499px #fff, 180px 1417px #fff, 415px 1983px #fff, 109px 1322px #fff,
    1713px 692px #fff, 480px 1725px #fff, 1702px 420px #fff, 825px 1853px #fff,
    1199px 561px #fff, 1181px 816px #fff, 1097px 1919px #fff, 1827px 375px #fff,
    812px 1637px #fff, 831px 988px #fff, 1552px 273px #fff, 1675px 171px #fff,
    889px 345px #fff, 325px 1153px #fff, 1650px 181px #fff, 1135px 1111px #fff,
    1292px 1709px #fff, 254px 1629px #fff, 1718px 1829px #fff, 808px 1479px #fff,
    495px 1770px #fff, 1609px 156px #fff, 503px 1793px #fff, 855px 1202px #fff,
    1679px 1079px #fff, 1340px 280px #fff, 1225px 764px #fff, 248px 184px #fff,
    1123px 181px #fff, 1438px 566px #fff, 704px 906px #fff, 1451px 1408px #fff,
    1430px 854px #fff, 1890px 630px #fff, 1276px 488px #fff, 558px 611px #fff,
    522px 341px #fff, 905px 1232px #fff, 458px 188px #fff, 712px 208px #fff,
    1639px 955px #fff, 762px 1289px #fff, 915px 74px #fff, 716px 549px #fff,
    1815px 1586px #fff, 1007px 1886px #fff, 51px 356px #fff, 1445px 1413px #fff,
    804px 1510px #fff, 824px 89px #fff, 1120px 871px #fff, 1193px 1090px #fff,
    1257px 388px #fff, 52px 451px #fff, 126px 228px #fff, 1263px 1270px #fff,
    1950px 1012px #fff, 571px 1284px #fff, 15px 1338px #fff, 1720px 1085px #fff,
    1px 1342px #fff, 978px 729px #fff, 631px 1284px #fff, 454px 1403px #fff,
    599px 1694px #fff, 1902px 1708px #fff, 1179px 1280px #fff, 35px 1228px #fff,
    684px 1886px #fff, 1224px 949px #fff, 1680px 1825px #fff, 1239px 1531px #fff,
    1755px 736px #fff, 1993px 30px #fff, 1299px 824px #fff, 298px 1937px #fff,
    1691px 280px #fff, 127px 1876px #fff, 862px 1836px #fff, 895px 1849px #fff,
    877px 1026px #fff, 746px 1703px #fff, 1553px 627px #fff, 1312px 451px #fff,
    1639px 408px #fff, 1006px 512px #fff, 1198px 698px #fff, 592px 1161px #fff,
    271px 1438px #fff, 799px 510px #fff, 662px 71px #fff, 516px 1009px #fff,
    1720px 368px #fff, 1718px 1349px #fff, 758px 784px #fff, 491px 1250px #fff,
    1634px 1720px #fff, 1537px 322px #fff, 500px 1783px #fff, 1363px 1850px #fff,
    1854px 1624px #fff, 542px 202px #fff, 926px 1869px #fff, 52px 1113px #fff,
    1161px 538px #fff, 1007px 582px #fff, 234px 1201px #fff, 1636px 1390px #fff,
    346px 1791px #fff, 431px 1464px #fff, 1902px 1611px #fff, 679px 1770px #fff,
    72px 1387px #fff, 450px 1686px #fff, 314px 412px #fff, 475px 1944px #fff,
    138px 649px #fff, 892px 36px #fff, 1892px 162px #fff, 1901px 613px #fff,
    348px 1976px #fff, 866px 1626px #fff, 1425px 684px #fff, 406px 861px #fff,
    674px 1427px #fff, 402px 1872px #fff, 790px 450px #fff, 1952px 136px #fff,
    954px 340px #fff, 1360px 1141px #fff, 632px 635px #fff, 698px 1845px #fff,
    1195px 1682px #fff, 138px 68px #fff, 23px 878px #fff, 296px 208px #fff,
    1239px 1819px #fff, 504px 10px #fff, 113px 1668px #fff, 1770px 409px #fff,
    1981px 1850px #fff, 1981px 1744px #fff, 19px 124px #fff, 1768px 1357px #fff,
    516px 1251px #fff, 1952px 430px #fff, 1852px 835px #fff, 1509px 358px #fff,
    1964px 1571px #fff, 438px 24px #fff, 543px 1878px #fff, 1789px 1057px #fff,
    1233px 1416px #fff, 1315px 803px #fff, 379px 1133px #fff, 1811px 127px #fff,
    718px 1859px #fff, 596px 1844px #fff, 113px 1445px #fff, 681px 1063px #fff,
    800px 354px #fff, 808px 1836px #fff, 36px 1146px #fff, 438px 800px #fff,
    1227px 912px #fff, 1728px 1210px #fff, 1034px 275px #fff, 301px 882px #fff,
    1924px 1437px #fff, 515px 608px #fff, 652px 310px #fff, 489px 1172px #fff,
    99px 494px #fff, 1310px 60px #fff, 620px 361px #fff, 599px 1414px #fff,
    1828px 455px #fff, 1123px 1508px #fff, 76px 55px #fff, 1495px 1688px #fff,
    31px 851px #fff, 1015px 621px #fff, 433px 1502px #fff, 1421px 601px #fff,
    1392px 1606px #fff, 1850px 1060px #fff, 1092px 1112px #fff,
    1789px 1586px #fff, 1265px 807px #fff, 975px 573px #fff, 53px 1153px #fff,
    1184px 1257px #fff, 1187px 1209px #fff, 614px 1953px #fff, 56px 91px #fff,
    1999px 1377px #fff, 1707px 1189px #fff, 1643px 942px #fff, 963px 1525px #fff,
    955px 920px #fff, 1787px 53px #fff, 1624px 240px #fff, 1817px 1331px #fff,
    1754px 142px #fff, 76px 1500px #fff, 1854px 1549px #fff, 1538px 630px #fff,
    1812px 866px #fff, 1448px 1493px #fff, 1325px 1624px #fff, 961px 1440px #fff,
    1304px 140px #fff, 1439px 1455px #fff, 1690px 1786px #fff,
    1787px 1140px #fff, 630px 1069px #fff, 492px 932px #fff, 1798px 1009px #fff,
    256px 979px #fff, 791px 32px #fff, 1402px 542px #fff, 1554px 711px #fff,
    541px 120px #fff, 1102px 317px #fff, 600px 1588px #fff, 930px 1976px #fff,
    966px 1522px #fff, 1631px 1469px #fff, 1346px 1300px #fff, 777px 873px #fff,
    940px 302px #fff, 793px 1549px #fff, 1637px 667px #fff, 488px 1468px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1287px 70px #fff, 968px 1851px #fff, 966px 1170px #fff,
    571px 1053px #fff, 986px 725px #fff, 1233px 515px #fff, 1239px 1058px #fff,
    667px 1327px #fff, 531px 797px #fff, 1654px 298px #fff, 769px 1769px #fff,
    524px 1923px #fff, 301px 1433px #fff, 1060px 1949px #fff, 1549px 69px #fff,
    685px 713px #fff, 616px 1953px #fff, 772px 1114px #fff, 1447px 1536px #fff,
    29px 1525px #fff, 1179px 230px #fff, 158px 544px #fff, 298px 390px #fff,
    184px 492px #fff, 1930px 935px #fff, 1043px 151px #fff, 271px 1644px #fff,
    1206px 1103px #fff, 750px 1689px #fff, 1492px 1079px #fff, 1278px 144px #fff,
    1968px 1374px #fff, 1251px 227px #fff, 875px 714px #fff, 1469px 923px #fff,
    1869px 518px #fff, 865px 1023px #fff, 1808px 1818px #fff, 277px 512px #fff,
    209px 1884px #fff, 154px 692px #fff, 1570px 1911px #fff, 1486px 1639px #fff,
    789px 1392px #fff, 118px 187px #fff, 1028px 606px #fff, 1424px 1640px #fff,
    1922px 1684px #fff, 1821px 104px #fff, 1312px 817px #fff, 1477px 80px #fff,
    847px 134px #fff, 1971px 1345px #fff, 174px 270px #fff, 392px 773px #fff,
    672px 663px #fff, 959px 1112px #fff, 879px 830px #fff, 62px 1178px #fff,
    1841px 190px #fff, 788px 1948px #fff, 1361px 231px #fff, 21px 1693px #fff,
    1749px 1098px #fff, 1949px 1550px #fff, 1889px 1036px #fff,
    655px 1791px #fff, 1361px 1415px #fff, 319px 284px #fff, 889px 1284px #fff,
    983px 1187px #fff, 42px 1581px #fff, 1621px 502px #fff, 1357px 466px #fff,
    1938px 619px #fff, 1621px 1434px #fff, 165px 1898px #fff, 1259px 664px #fff,
    1565px 1944px #fff, 1769px 529px #fff, 1592px 847px #fff, 1207px 991px #fff,
    134px 948px #fff, 114px 920px #fff, 390px 1341px #fff, 1168px 1555px #fff,
    1841px 1322px #fff, 20px 766px #fff, 1752px 1000px #fff, 1801px 797px #fff,
    308px 1548px #fff, 254px 661px #fff, 1855px 1397px #fff, 943px 80px #fff,
    1718px 898px #fff, 1519px 1640px #fff, 968px 660px #fff, 1119px 1945px #fff,
    1884px 352px #fff, 1994px 268px #fff, 691px 499px #fff, 833px 1879px #fff,
    46px 1078px #fff, 891px 1013px #fff, 1700px 882px #fff, 431px 1186px #fff,
    1805px 675px #fff, 1506px 1096px #fff, 93px 104px #fff, 1685px 752px #fff,
    1147px 1807px #fff, 543px 962px #fff, 693px 598px #fff, 1386px 995px #fff,
    717px 1689px #fff, 1236px 889px #fff, 809px 1519px #fff, 1066px 342px #fff,
    315px 1184px #fff, 470px 42px #fff, 1865px 170px #fff, 1054px 1118px #fff,
    1364px 483px #fff, 523px 175px #fff, 1952px 1702px #fff, 460px 218px #fff,
    127px 1402px #fff, 1415px 590px #fff, 1484px 1650px #fff, 796px 886px #fff,
    936px 896px #fff, 685px 1733px #fff, 463px 877px #fff, 982px 1797px #fff,
    1657px 1878px #fff, 1929px 236px #fff, 868px 1934px #fff, 1613px 649px #fff,
    1709px 843px #fff, 1194px 466px #fff, 1712px 1227px #fff, 1620px 1513px #fff,
    918px 1471px #fff, 965px 385px #fff, 553px 225px #fff, 1456px 394px #fff,
    1912px 635px #fff, 1749px 498px #fff, 271px 1667px #fff, 742px 1358px #fff,
    1421px 1206px #fff, 1382px 1483px #fff, 1781px 581px #fff, 381px 1709px #fff,
    1587px 1183px #fff, 1266px 600px #fff, 1679px 1343px #fff, 153px 1514px #fff,
    645px 1260px #fff, 1544px 448px #fff, 1334px 1854px #fff, 1241px 997px #fff,
    1524px 329px #fff, 721px 917px #fff, 533px 1433px #fff, 469px 1598px #fff,
    1336px 241px #fff, 874px 1357px #fff, 1049px 550px #fff, 8px 461px #fff,
    383px 480px #fff, 1468px 267px #fff, 913px 1492px #fff, 1353px 1603px #fff,
    361px 720px #fff, 1442px 1064px #fff, 1763px 1342px #fff, 1878px 1432px #fff,
    85px 723px #fff, 84px 33px #fff, 1598px 1431px #fff, 261px 597px #fff,
    763px 1091px #fff, 1331px 1856px #fff, 1149px 419px #fff, 763px 928px #fff,
    928px 657px #fff, 927px 1709px #fff, 730px 1210px #fff, 867px 839px #fff,
    1506px 55px #fff, 554px 1844px #fff, 1243px 910px #fff, 1238px 971px #fff,
    442px 1787px #fff, 1599px 866px #fff, 1987px 899px #fff, 899px 169px #fff,
    1982px 1578px #fff, 233px 1414px #fff, 1915px 441px #fff, 661px 697px #fff,
    433px 1450px #fff, 735px 133px #fff, 842px 242px #fff, 1532px 1282px #fff,
    1947px 1068px #fff, 1985px 278px #fff, 47px 802px #fff, 573px 939px #fff,
    1161px 887px #fff, 1885px 1139px #fff, 673px 1001px #fff, 627px 781px #fff,
    476px 119px #fff, 1788px 1088px #fff, 160px 174px #fff, 1435px 849px #fff,
    1960px 1854px #fff, 1968px 1251px #fff, 636px 936px #fff, 203px 702px #fff,
    797px 11px #fff, 1768px 420px #fff, 856px 1297px #fff, 440px 287px #fff,
    783px 842px #fff, 1683px 1423px #fff, 63px 336px #fff, 1105px 181px #fff,
    697px 228px #fff, 1150px 1768px #fff, 1179px 877px #fff, 454px 829px #fff,
    1302px 358px #fff, 1777px 1513px #fff, 587px 1607px #fff, 1184px 1858px #fff,
    855px 461px #fff, 1436px 973px #fff, 1845px 1430px #fff, 1997px 1259px #fff,
    620px 1350px #fff, 138px 1165px #fff, 425px 818px #fff, 1843px 751px #fff,
    450px 1215px #fff, 1445px 1970px #fff, 404px 648px #fff, 1988px 1113px #fff,
    1919px 1638px #fff, 1105px 57px #fff, 947px 763px #fff, 240px 1415px #fff,
    1133px 139px #fff, 497px 1010px #fff, 64px 1514px #fff, 1859px 1424px #fff,
    818px 214px #fff, 1332px 1662px #fff, 1993px 1027px #fff, 624px 498px #fff,
    258px 1582px #fff, 1904px 908px #fff, 1842px 922px #fff, 1151px 429px #fff,
    1618px 655px #fff, 1115px 1779px #fff, 254px 439px #fff, 452px 1064px #fff,
    550px 906px #fff, 1606px 665px #fff, 240px 1383px #fff, 1749px 754px #fff,
    1072px 1608px #fff, 1791px 741px #fff, 1102px 1887px #fff, 290px 266px #fff,
    1863px 121px #fff, 500px 379px #fff, 1061px 1601px #fff, 1570px 324px #fff,
    1775px 1031px #fff, 1839px 1927px #fff, 1853px 1083px #fff,
    1188px 1216px #fff, 553px 1941px #fff, 1503px 898px #fff, 451px 1134px #fff,
    847px 1263px #fff, 999px 944px #fff, 1645px 1454px #fff, 121px 1512px #fff,
    246px 1237px #fff, 514px 665px #fff, 193px 231px #fff, 1555px 480px #fff,
    739px 138px #fff, 1960px 355px #fff, 636px 1333px #fff, 288px 819px #fff,
    1867px 1620px #fff, 1669px 435px #fff, 595px 322px #fff, 763px 879px #fff,
    105px 1428px #fff, 963px 1178px #fff, 1876px 891px #fff, 158px 764px #fff,
    1604px 1127px #fff, 351px 761px #fff, 1222px 1263px #fff, 732px 1443px #fff,
    1003px 441px #fff, 1683px 1870px #fff, 621px 884px #fff, 720px 966px #fff,
    1468px 1570px #fff, 1080px 1985px #fff, 1347px 764px #fff,
    1368px 1560px #fff, 1590px 1093px #fff, 1249px 1342px #fff, 217px 961px #fff,
    751px 1846px #fff, 1543px 443px #fff, 439px 1734px #fff, 76px 398px #fff,
    1633px 291px #fff, 1158px 363px #fff, 127px 1076px #fff, 1670px 643px #fff,
    1273px 1726px #fff, 1089px 1797px #fff, 818px 1229px #fff, 192px 907px #fff,
    1935px 699px #fff, 1140px 64px #fff, 492px 777px #fff, 1504px 1042px #fff,
    277px 1814px #fff, 947px 1941px #fff, 1212px 715px #fff, 846px 510px #fff,
    1628px 1188px #fff, 852px 1694px #fff, 1915px 179px #fff, 1322px 1531px #fff,
    436px 766px #fff, 1161px 213px #fff, 1241px 1916px #fff, 774px 1624px #fff,
    908px 1757px #fff, 1224px 874px #fff, 272px 789px #fff, 1123px 952px #fff,
    176px 1575px #fff, 1070px 880px #fff, 1784px 297px #fff, 1475px 1157px #fff,
    261px 656px #fff, 478px 454px #fff, 989px 1404px #fff, 1841px 883px #fff,
    1396px 1872px #fff, 1466px 1405px #fff, 373px 1918px #fff,
    1982px 1615px #fff, 1935px 1248px #fff, 510px 1032px #fff, 1547px 108px #fff,
    277px 336px #fff, 52px 1062px #fff, 326px 149px #fff, 858px 1913px #fff,
    1071px 1113px #fff, 1513px 1938px #fff, 46px 399px #fff, 173px 1335px #fff,
    1946px 1328px #fff, 642px 626px #fff, 1216px 1003px #fff, 844px 165px #fff,
    1550px 295px #fff, 1786px 170px #fff, 32px 375px #fff, 761px 387px #fff,
    1014px 1863px #fff, 1366px 649px #fff, 1528px 25px #fff, 242px 1615px #fff,
    831px 1172px #fff, 1066px 606px #fff, 249px 1701px #fff, 1346px 1699px #fff,
    682px 805px #fff, 291px 68px #fff, 1348px 1480px #fff, 796px 784px #fff,
    688px 1874px #fff, 473px 589px #fff, 200px 68px #fff, 1176px 102px #fff,
    695px 1833px #fff, 1016px 718px #fff, 1112px 387px #fff, 1239px 1169px #fff,
    428px 107px #fff, 1796px 1479px #fff, 1755px 709px #fff, 724px 445px #fff,
    105px 206px #fff, 597px 246px #fff, 27px 804px #fff, 1201px 1568px #fff,
    1864px 513px #fff, 1617px 1183px #fff, 776px 324px #fff, 1510px 1636px #fff,
    1542px 1384px #fff, 1277px 1470px #fff, 1137px 1988px #fff,
    1202px 1010px #fff, 1405px 339px #fff, 1481px 952px #fff, 518px 349px #fff,
    1360px 159px #fff, 1839px 926px #fff, 1646px 1866px #fff, 831px 775px #fff,
    1897px 1411px #fff, 1351px 1048px #fff, 646px 1805px #fff, 318px 1542px #fff,
    1494px 1268px #fff, 237px 1746px #fff, 586px 1825px #fff, 328px 1054px #fff,
    864px 1143px #fff, 1882px 1803px #fff, 192px 878px #fff, 69px 1807px #fff,
    743px 1716px #fff, 778px 453px #fff, 1726px 524px #fff, 1625px 309px #fff,
    743px 955px #fff, 548px 362px #fff, 1009px 603px #fff, 436px 1859px #fff,
    301px 152px #fff, 1180px 431px #fff, 1540px 715px #fff, 136px 912px #fff,
    1271px 96px #fff, 1084px 1078px #fff, 183px 1918px #fff, 136px 411px #fff,
    551px 1225px #fff, 1548px 1509px #fff, 375px 1058px #fff, 481px 1347px #fff,
    1815px 1499px #fff, 180px 1417px #fff, 415px 1983px #fff, 109px 1322px #fff,
    1713px 692px #fff, 480px 1725px #fff, 1702px 420px #fff, 825px 1853px #fff,
    1199px 561px #fff, 1181px 816px #fff, 1097px 1919px #fff, 1827px 375px #fff,
    812px 1637px #fff, 831px 988px #fff, 1552px 273px #fff, 1675px 171px #fff,
    889px 345px #fff, 325px 1153px #fff, 1650px 181px #fff, 1135px 1111px #fff,
    1292px 1709px #fff, 254px 1629px #fff, 1718px 1829px #fff, 808px 1479px #fff,
    495px 1770px #fff, 1609px 156px #fff, 503px 1793px #fff, 855px 1202px #fff,
    1679px 1079px #fff, 1340px 280px #fff, 1225px 764px #fff, 248px 184px #fff,
    1123px 181px #fff, 1438px 566px #fff, 704px 906px #fff, 1451px 1408px #fff,
    1430px 854px #fff, 1890px 630px #fff, 1276px 488px #fff, 558px 611px #fff,
    522px 341px #fff, 905px 1232px #fff, 458px 188px #fff, 712px 208px #fff,
    1639px 955px #fff, 762px 1289px #fff, 915px 74px #fff, 716px 549px #fff,
    1815px 1586px #fff, 1007px 1886px #fff, 51px 356px #fff, 1445px 1413px #fff,
    804px 1510px #fff, 824px 89px #fff, 1120px 871px #fff, 1193px 1090px #fff,
    1257px 388px #fff, 52px 451px #fff, 126px 228px #fff, 1263px 1270px #fff,
    1950px 1012px #fff, 571px 1284px #fff, 15px 1338px #fff, 1720px 1085px #fff,
    1px 1342px #fff, 978px 729px #fff, 631px 1284px #fff, 454px 1403px #fff,
    599px 1694px #fff, 1902px 1708px #fff, 1179px 1280px #fff, 35px 1228px #fff,
    684px 1886px #fff, 1224px 949px #fff, 1680px 1825px #fff, 1239px 1531px #fff,
    1755px 736px #fff, 1993px 30px #fff, 1299px 824px #fff, 298px 1937px #fff,
    1691px 280px #fff, 127px 1876px #fff, 862px 1836px #fff, 895px 1849px #fff,
    877px 1026px #fff, 746px 1703px #fff, 1553px 627px #fff, 1312px 451px #fff,
    1639px 408px #fff, 1006px 512px #fff, 1198px 698px #fff, 592px 1161px #fff,
    271px 1438px #fff, 799px 510px #fff, 662px 71px #fff, 516px 1009px #fff,
    1720px 368px #fff, 1718px 1349px #fff, 758px 784px #fff, 491px 1250px #fff,
    1634px 1720px #fff, 1537px 322px #fff, 500px 1783px #fff, 1363px 1850px #fff,
    1854px 1624px #fff, 542px 202px #fff, 926px 1869px #fff, 52px 1113px #fff,
    1161px 538px #fff, 1007px 582px #fff, 234px 1201px #fff, 1636px 1390px #fff,
    346px 1791px #fff, 431px 1464px #fff, 1902px 1611px #fff, 679px 1770px #fff,
    72px 1387px #fff, 450px 1686px #fff, 314px 412px #fff, 475px 1944px #fff,
    138px 649px #fff, 892px 36px #fff, 1892px 162px #fff, 1901px 613px #fff,
    348px 1976px #fff, 866px 1626px #fff, 1425px 684px #fff, 406px 861px #fff,
    674px 1427px #fff, 402px 1872px #fff, 790px 450px #fff, 1952px 136px #fff,
    954px 340px #fff, 1360px 1141px #fff, 632px 635px #fff, 698px 1845px #fff,
    1195px 1682px #fff, 138px 68px #fff, 23px 878px #fff, 296px 208px #fff,
    1239px 1819px #fff, 504px 10px #fff, 113px 1668px #fff, 1770px 409px #fff,
    1981px 1850px #fff, 1981px 1744px #fff, 19px 124px #fff, 1768px 1357px #fff,
    516px 1251px #fff, 1952px 430px #fff, 1852px 835px #fff, 1509px 358px #fff,
    1964px 1571px #fff, 438px 24px #fff, 543px 1878px #fff, 1789px 1057px #fff,
    1233px 1416px #fff, 1315px 803px #fff, 379px 1133px #fff, 1811px 127px #fff,
    718px 1859px #fff, 596px 1844px #fff, 113px 1445px #fff, 681px 1063px #fff,
    800px 354px #fff, 808px 1836px #fff, 36px 1146px #fff, 438px 800px #fff,
    1227px 912px #fff, 1728px 1210px #fff, 1034px 275px #fff, 301px 882px #fff,
    1924px 1437px #fff, 515px 608px #fff, 652px 310px #fff, 489px 1172px #fff,
    99px 494px #fff, 1310px 60px #fff, 620px 361px #fff, 599px 1414px #fff,
    1828px 455px #fff, 1123px 1508px #fff, 76px 55px #fff, 1495px 1688px #fff,
    31px 851px #fff, 1015px 621px #fff, 433px 1502px #fff, 1421px 601px #fff,
    1392px 1606px #fff, 1850px 1060px #fff, 1092px 1112px #fff,
    1789px 1586px #fff, 1265px 807px #fff, 975px 573px #fff, 53px 1153px #fff,
    1184px 1257px #fff, 1187px 1209px #fff, 614px 1953px #fff, 56px 91px #fff,
    1999px 1377px #fff, 1707px 1189px #fff, 1643px 942px #fff, 963px 1525px #fff,
    955px 920px #fff, 1787px 53px #fff, 1624px 240px #fff, 1817px 1331px #fff,
    1754px 142px #fff, 76px 1500px #fff, 1854px 1549px #fff, 1538px 630px #fff,
    1812px 866px #fff, 1448px 1493px #fff, 1325px 1624px #fff, 961px 1440px #fff,
    1304px 140px #fff, 1439px 1455px #fff, 1690px 1786px #fff,
    1787px 1140px #fff, 630px 1069px #fff, 492px 932px #fff, 1798px 1009px #fff,
    256px 979px #fff, 791px 32px #fff, 1402px 542px #fff, 1554px 711px #fff,
    541px 120px #fff, 1102px 317px #fff, 600px 1588px #fff, 930px 1976px #fff,
    966px 1522px #fff, 1631px 1469px #fff, 1346px 1300px #fff, 777px 873px #fff,
    940px 302px #fff, 793px 1549px #fff, 1637px 667px #fff, 488px 1468px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1797px 890px #fff, 956px 455px #fff, 1694px 1647px #fff,
    1499px 1471px #fff, 166px 1068px #fff, 1507px 263px #fff, 1297px 24px #fff,
    1880px 1112px #fff, 1721px 842px #fff, 1077px 1569px #fff, 1575px 897px #fff,
    1390px 1944px #fff, 580px 648px #fff, 628px 1249px #fff, 1357px 1950px #fff,
    106px 857px #fff, 849px 1787px #fff, 625px 1583px #fff, 1173px 394px #fff,
    747px 1105px #fff, 1753px 787px #fff, 1525px 316px #fff, 49px 326px #fff,
    462px 563px #fff, 1969px 1738px #fff, 77px 673px #fff, 1635px 1082px #fff,
    867px 1921px #fff, 187px 1674px #fff, 33px 8px #fff, 717px 381px #fff,
    114px 966px #fff, 872px 640px #fff, 741px 1276px #fff, 552px 362px #fff,
    521px 1546px #fff, 518px 529px #fff, 1244px 1696px #fff, 1098px 624px #fff,
    538px 1431px #fff, 1540px 57px #fff, 9px 1034px #fff, 1702px 1171px #fff,
    153px 849px #fff, 1843px 640px #fff, 1915px 1804px #fff, 975px 1953px #fff,
    1140px 242px #fff, 366px 1866px #fff, 1606px 1311px #fff, 167px 1655px #fff,
    963px 791px #fff, 1065px 1124px #fff, 1712px 592px #fff, 413px 430px #fff,
    1832px 720px #fff, 18px 1457px #fff, 530px 1766px #fff, 1527px 156px #fff,
    97px 1479px #fff, 769px 1394px #fff, 1101px 620px #fff, 1478px 162px #fff,
    1393px 1100px #fff, 1172px 732px #fff, 1001px 1120px #fff,
    1224px 1441px #fff, 263px 1150px #fff, 454px 231px #fff, 1147px 1639px #fff,
    651px 1110px #fff, 1750px 1622px #fff, 408px 823px #fff, 1111px 947px #fff,
    1250px 738px #fff, 405px 692px #fff, 298px 1030px #fff, 566px 515px #fff,
    1757px 244px #fff, 150px 1939px #fff, 791px 460px #fff, 817px 408px #fff,
    565px 510px #fff, 1474px 604px #fff, 1381px 524px #fff, 758px 57px #fff,
    1200px 1801px #fff, 647px 1902px #fff, 1004px 341px #fff, 1676px 1158px #fff,
    480px 1865px #fff, 56px 1754px #fff, 1998px 714px #fff, 912px 89px #fff,
    1922px 413px #fff, 1971px 1047px #fff, 872px 889px #fff, 108px 1637px #fff,
    1852px 53px #fff, 1066px 705px #fff, 335px 433px #fff, 1553px 1868px #fff,
    363px 1604px #fff, 770px 1860px #fff, 1412px 807px #fff, 1067px 1933px #fff,
    261px 72px #fff, 1763px 231px #fff, 606px 431px #fff, 1363px 1432px #fff,
    443px 1747px #fff, 1124px 381px #fff, 219px 954px #fff, 1126px 1554px #fff,
    1944px 1740px #fff, 888px 428px #fff, 1702px 943px #fff, 155px 1103px #fff,
    408px 1192px #fff, 394px 375px #fff, 1908px 94px #fff, 1453px 117px #fff,
    210px 485px #fff, 355px 624px #fff, 38px 1379px #fff, 1351px 636px #fff,
    115px 755px #fff, 1419px 1630px #fff, 846px 1392px #fff, 157px 908px #fff,
    1708px 1287px #fff, 1893px 604px #fff, 1582px 981px #fff, 689px 1394px #fff,
    418px 1028px #fff, 1545px 370px #fff, 988px 1897px #fff, 312px 1404px #fff,
    1314px 667px #fff, 371px 755px #fff, 19px 203px #fff, 1812px 378px #fff,
    386px 627px #fff, 190px 376px #fff, 682px 1971px #fff, 1084px 1866px #fff,
    120px 175px #fff, 1757px 910px #fff, 831px 837px #fff, 1235px 285px #fff,
    295px 1966px #fff, 325px 1201px #fff, 1509px 61px #fff, 1495px 993px #fff,
    823px 1429px #fff, 1600px 1753px #fff, 1232px 1054px #fff,
    1754px 1982px #fff, 784px 526px #fff, 1740px 777px #fff, 1695px 1583px #fff,
    1107px 176px #fff, 1398px 1037px #fff, 1266px 1600px #fff, 496px 1581px #fff,
    1300px 643px #fff, 36px 1634px #fff, 1845px 1653px #fff, 572px 159px #fff,
    922px 1047px #fff, 1868px 1562px #fff, 383px 799px #fff, 1086px 784px #fff,
    292px 640px #fff, 1866px 1001px #fff, 1209px 1939px #fff, 1443px 1846px #fff,
    678px 1836px #fff, 1712px 960px #fff, 714px 733px #fff, 1198px 564px #fff,
    1599px 366px #fff, 1501px 1134px #fff, 1179px 1016px #fff,
    1803px 1985px #fff, 1229px 845px #fff, 1078px 764px #fff, 1765px 767px #fff,
    1293px 368px #fff, 1790px 1409px #fff, 608px 659px #fff, 1546px 1371px #fff,
    1258px 1317px #fff, 1614px 1723px #fff, 462px 834px #fff, 42px 212px #fff,
    1910px 153px #fff, 416px 1295px #fff, 1604px 379px #fff, 474px 416px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1797px 890px #fff, 956px 455px #fff, 1694px 1647px #fff,
    1499px 1471px #fff, 166px 1068px #fff, 1507px 263px #fff, 1297px 24px #fff,
    1880px 1112px #fff, 1721px 842px #fff, 1077px 1569px #fff, 1575px 897px #fff,
    1390px 1944px #fff, 580px 648px #fff, 628px 1249px #fff, 1357px 1950px #fff,
    106px 857px #fff, 849px 1787px #fff, 625px 1583px #fff, 1173px 394px #fff,
    747px 1105px #fff, 1753px 787px #fff, 1525px 316px #fff, 49px 326px #fff,
    462px 563px #fff, 1969px 1738px #fff, 77px 673px #fff, 1635px 1082px #fff,
    867px 1921px #fff, 187px 1674px #fff, 33px 8px #fff, 717px 381px #fff,
    114px 966px #fff, 872px 640px #fff, 741px 1276px #fff, 552px 362px #fff,
    521px 1546px #fff, 518px 529px #fff, 1244px 1696px #fff, 1098px 624px #fff,
    538px 1431px #fff, 1540px 57px #fff, 9px 1034px #fff, 1702px 1171px #fff,
    153px 849px #fff, 1843px 640px #fff, 1915px 1804px #fff, 975px 1953px #fff,
    1140px 242px #fff, 366px 1866px #fff, 1606px 1311px #fff, 167px 1655px #fff,
    963px 791px #fff, 1065px 1124px #fff, 1712px 592px #fff, 413px 430px #fff,
    1832px 720px #fff, 18px 1457px #fff, 530px 1766px #fff, 1527px 156px #fff,
    97px 1479px #fff, 769px 1394px #fff, 1101px 620px #fff, 1478px 162px #fff,
    1393px 1100px #fff, 1172px 732px #fff, 1001px 1120px #fff,
    1224px 1441px #fff, 263px 1150px #fff, 454px 231px #fff, 1147px 1639px #fff,
    651px 1110px #fff, 1750px 1622px #fff, 408px 823px #fff, 1111px 947px #fff,
    1250px 738px #fff, 405px 692px #fff, 298px 1030px #fff, 566px 515px #fff,
    1757px 244px #fff, 150px 1939px #fff, 791px 460px #fff, 817px 408px #fff,
    565px 510px #fff, 1474px 604px #fff, 1381px 524px #fff, 758px 57px #fff,
    1200px 1801px #fff, 647px 1902px #fff, 1004px 341px #fff, 1676px 1158px #fff,
    480px 1865px #fff, 56px 1754px #fff, 1998px 714px #fff, 912px 89px #fff,
    1922px 413px #fff, 1971px 1047px #fff, 872px 889px #fff, 108px 1637px #fff,
    1852px 53px #fff, 1066px 705px #fff, 335px 433px #fff, 1553px 1868px #fff,
    363px 1604px #fff, 770px 1860px #fff, 1412px 807px #fff, 1067px 1933px #fff,
    261px 72px #fff, 1763px 231px #fff, 606px 431px #fff, 1363px 1432px #fff,
    443px 1747px #fff, 1124px 381px #fff, 219px 954px #fff, 1126px 1554px #fff,
    1944px 1740px #fff, 888px 428px #fff, 1702px 943px #fff, 155px 1103px #fff,
    408px 1192px #fff, 394px 375px #fff, 1908px 94px #fff, 1453px 117px #fff,
    210px 485px #fff, 355px 624px #fff, 38px 1379px #fff, 1351px 636px #fff,
    115px 755px #fff, 1419px 1630px #fff, 846px 1392px #fff, 157px 908px #fff,
    1708px 1287px #fff, 1893px 604px #fff, 1582px 981px #fff, 689px 1394px #fff,
    418px 1028px #fff, 1545px 370px #fff, 988px 1897px #fff, 312px 1404px #fff,
    1314px 667px #fff, 371px 755px #fff, 19px 203px #fff, 1812px 378px #fff,
    386px 627px #fff, 190px 376px #fff, 682px 1971px #fff, 1084px 1866px #fff,
    120px 175px #fff, 1757px 910px #fff, 831px 837px #fff, 1235px 285px #fff,
    295px 1966px #fff, 325px 1201px #fff, 1509px 61px #fff, 1495px 993px #fff,
    823px 1429px #fff, 1600px 1753px #fff, 1232px 1054px #fff,
    1754px 1982px #fff, 784px 526px #fff, 1740px 777px #fff, 1695px 1583px #fff,
    1107px 176px #fff, 1398px 1037px #fff, 1266px 1600px #fff, 496px 1581px #fff,
    1300px 643px #fff, 36px 1634px #fff, 1845px 1653px #fff, 572px 159px #fff,
    922px 1047px #fff, 1868px 1562px #fff, 383px 799px #fff, 1086px 784px #fff,
    292px 640px #fff, 1866px 1001px #fff, 1209px 1939px #fff, 1443px 1846px #fff,
    678px 1836px #fff, 1712px 960px #fff, 714px 733px #fff, 1198px 564px #fff,
    1599px 366px #fff, 1501px 1134px #fff, 1179px 1016px #fff,
    1803px 1985px #fff, 1229px 845px #fff, 1078px 764px #fff, 1765px 767px #fff,
    1293px 368px #fff, 1790px 1409px #fff, 608px 659px #fff, 1546px 1371px #fff,
    1258px 1317px #fff, 1614px 1723px #fff, 462px 834px #fff, 42px 212px #fff,
    1910px 153px #fff, 416px 1295px #fff, 1604px 379px #fff, 474px 416px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 224px 451px #fff, 246px 1648px #fff, 478px 156px #fff,
    202px 1809px #fff, 1862px 218px #fff, 193px 1374px #fff, 561px 1055px #fff,
    600px 497px #fff, 1638px 366px #fff, 306px 1480px #fff, 1962px 1128px #fff,
    95px 1937px #fff, 189px 1786px #fff, 479px 1687px #fff, 113px 1731px #fff,
    63px 1087px #fff, 451px 503px #fff, 701px 743px #fff, 1304px 993px #fff,
    1013px 1854px #fff, 242px 107px #fff, 1762px 328px #fff, 1393px 826px #fff,
    123px 1057px #fff, 1240px 1540px #fff, 1835px 823px #fff, 824px 1978px #fff,
    1195px 1479px #fff, 1703px 1172px #fff, 1788px 1667px #fff,
    360px 1046px #fff, 42px 1658px #fff, 1624px 429px #fff, 483px 1703px #fff,
    244px 1783px #fff, 633px 1320px #fff, 181px 1396px #fff, 694px 181px #fff,
    29px 1675px #fff, 598px 1526px #fff, 992px 730px #fff, 422px 2000px #fff,
    834px 650px #fff, 735px 1449px #fff, 579px 460px #fff, 383px 658px #fff,
    901px 1129px #fff, 397px 1215px #fff, 1673px 1510px #fff, 569px 1374px #fff,
    1097px 216px #fff, 1724px 767px #fff, 793px 974px #fff, 839px 37px #fff,
    509px 700px #fff, 1410px 748px #fff, 1244px 1252px #fff, 619px 505px #fff,
    544px 1000px #fff, 1265px 1914px #fff, 163px 1802px #fff, 1161px 671px #fff,
    555px 329px #fff, 1365px 1093px #fff, 241px 1618px #fff, 219px 175px #fff,
    27px 1660px #fff, 430px 751px #fff, 1965px 1964px #fff, 1523px 1121px #fff,
    392px 17px #fff, 361px 620px #fff, 918px 993px #fff, 90px 320px #fff,
    358px 1776px #fff, 1366px 1310px #fff, 1022px 815px #fff, 1277px 1070px #fff,
    1661px 827px #fff, 1649px 1821px #fff, 467px 77px #fff, 1483px 797px #fff,
    1668px 1197px #fff, 1437px 431px #fff, 1796px 1819px #fff, 843px 85px #fff,
    553px 707px #fff, 1820px 62px #fff, 479px 798px #fff, 1638px 848px #fff,
    1942px 1531px #fff, 607px 1865px #fff, 842px 517px #fff, 339px 721px #fff,
    1224px 1241px #fff, 1959px 1336px #fff, 1497px 1153px #fff, 2px 926px #fff,
    196px 1220px #fff, 1235px 911px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 224px 451px #fff, 246px 1648px #fff, 478px 156px #fff,
    202px 1809px #fff, 1862px 218px #fff, 193px 1374px #fff, 561px 1055px #fff,
    600px 497px #fff, 1638px 366px #fff, 306px 1480px #fff, 1962px 1128px #fff,
    95px 1937px #fff, 189px 1786px #fff, 479px 1687px #fff, 113px 1731px #fff,
    63px 1087px #fff, 451px 503px #fff, 701px 743px #fff, 1304px 993px #fff,
    1013px 1854px #fff, 242px 107px #fff, 1762px 328px #fff, 1393px 826px #fff,
    123px 1057px #fff, 1240px 1540px #fff, 1835px 823px #fff, 824px 1978px #fff,
    1195px 1479px #fff, 1703px 1172px #fff, 1788px 1667px #fff,
    360px 1046px #fff, 42px 1658px #fff, 1624px 429px #fff, 483px 1703px #fff,
    244px 1783px #fff, 633px 1320px #fff, 181px 1396px #fff, 694px 181px #fff,
    29px 1675px #fff, 598px 1526px #fff, 992px 730px #fff, 422px 2000px #fff,
    834px 650px #fff, 735px 1449px #fff, 579px 460px #fff, 383px 658px #fff,
    901px 1129px #fff, 397px 1215px #fff, 1673px 1510px #fff, 569px 1374px #fff,
    1097px 216px #fff, 1724px 767px #fff, 793px 974px #fff, 839px 37px #fff,
    509px 700px #fff, 1410px 748px #fff, 1244px 1252px #fff, 619px 505px #fff,
    544px 1000px #fff, 1265px 1914px #fff, 163px 1802px #fff, 1161px 671px #fff,
    555px 329px #fff, 1365px 1093px #fff, 241px 1618px #fff, 219px 175px #fff,
    27px 1660px #fff, 430px 751px #fff, 1965px 1964px #fff, 1523px 1121px #fff,
    392px 17px #fff, 361px 620px #fff, 918px 993px #fff, 90px 320px #fff,
    358px 1776px #fff, 1366px 1310px #fff, 1022px 815px #fff, 1277px 1070px #fff,
    1661px 827px #fff, 1649px 1821px #fff, 467px 77px #fff, 1483px 797px #fff,
    1668px 1197px #fff, 1437px 431px #fff, 1796px 1819px #fff, 843px 85px #fff,
    553px 707px #fff, 1820px 62px #fff, 479px 798px #fff, 1638px 848px #fff,
    1942px 1531px #fff, 607px 1865px #fff, 842px 517px #fff, 339px 721px #fff,
    1224px 1241px #fff, 1959px 1336px #fff, 1497px 1153px #fff, 2px 926px #fff,
    196px 1220px #fff, 1235px 911px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0 0 0;
  margin-top: -1rem;
}

.logo {
  margin-bottom: -1.5rem;
}

.logo img {
  width: 200px;
}

.hero-text {
  text-align: center;
  margin-bottom: 2rem;
}

.hero-text h1:first-child {
  font-size: 28px;
}

.hero-text h1:last-child {
  font-size: 20px;
  font-weight: 100;
  opacity: 0.75;
  letter-spacing: 2px;
}

.underline {
  height: 1px;
  background: #fff;
}

.show-reel-content {
  text-align: center;
}

.show-reel-content h1 {
  font-size: 20px;
}

.show-reels-images-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.show-reels {
  width: 200px;
  height: 120px;
  background: transparent;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
}

.show-reels img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}

.show-reels-images-2 {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-reel-text {
  text-align: center;
  width: 60%;
  margin: 2.5rem auto 1rem auto;
  font-size: 13px;
}

.show-reel-text .underline {
  width: 65%;
  margin: 0.2rem auto;
}

.title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
  background-color: #ee7639;
  display: grid;
  place-items: center;
  transition: all 0.3s;
  overflow: hidden;
  font-size: 12px;
}

.show-reels:hover .title {
  height: 30%;
}

.social-icon-container {
  margin-top: 0.7rem;
}

.modal-show-reel {
  position: fixed;
  top: 50%;
  left: -250%;
  transform: translate(-50%, -50%);
  background: #090a0f;
  display: grid;
  padding: 1rem;
  border-radius: 10px;
  z-index: 99;
  transition: all 0.3s linear;
}

.active {
  left: 50%;
}

.modal-content {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.modal-content > button {
  justify-self: end;
  padding: 0.5rem 0.8rem;
  background: #24201d;
  border: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content > button > i {
  margin-left: 0.2rem;
}

@media screen and (max-width: 662px) {
  body {
    overflow: scroll;
  }
  .hero-content {
    display: grid;
    place-items: center;
    width: 90vw;
    margin: 2rem auto;
    padding: 0 0 2rem 0;
  }

  .hero-text {
    display: grid;
    place-items: center;
  }

  .hero-text h1:first-child {
    font-size: 18px;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #fff;
  }

  .hero-text h1:last-child {
    font-size: 16px;
    opacity: 0.9;
  }

  .show-reel-content h1 {
    font-size: 16px;
  }

  .show-reels-images-1 {
    display: flex;
    flex-direction: column;
  }

  .show-reels-images-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .show-reels {
    width: 300px;
    height: 150px;
  }

  .show-reel-text {
    width: 100%;
  }

  .show-reel-text h3 {
    font-size: 13px;
  }

  .show-reel-text .underline {
    width: 100%;
  }

  .frame {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    margin-top: 2rem;
  }

  .show-reels-images-1 {
    grid-template-columns: repeat(5, 200px);
    gap: 0;
  }

  .show-reels {
    width: 150px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    margin-top: 1rem;
  }

  .show-reels-images-1 {
    grid-template-columns: repeat(5, 1fr);
  }

  .show-reels {
    width: 200px;
  }
}

@media screen and (min-width: 1500px) {
  .hero-content {
    margin: 10rem auto;
  }
}
